body {
    margin: 50px auto;
    width: 900px;
    color: grey;
    font: 14px/1.5 Liberation Sans, Arial, Helvetica, Free sans, sans-serif;
}

a:link, a:visited, a:hover, a:active {
    color: #00AAEE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#header {
    margin: 50px;
    text-align: center;
}

.column {
    float: left;
    padding: 0 20px;
    width: 250px;
    height: 220px;
}

#column-userbase, #column-techbase {
    border-right: 1px solid #C3C3C3;
}

.column h2 {
    margin-bottom: 21px;
    font-size: 24px;
    font-weight: bold;
    line-height: 88px;
    padding-left: 10px;
}

.column img {
    float: left;
}

.column p {
    text-align: justify;
}

#footer {
    padding-top: 280px;
    padding-left: 20px;
    padding-right: 30px;
}

#footer a {
    text-decoration: none;
}

#footer a:visited {
    color: grey;
}

#footer p {
    float: left;
}

#links {
    float: right;
}

#links > li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

